@import './fonts.css';
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 220 13% 91%;
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
}

html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
}
